<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FF_v3.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="FF_v3.My.MySettings.FF_DB_ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\FF_DB.accdb"
      providerName="System.Data.OleDb" />
    <add name="FF_v3.My.MySettings.FF_PresetsConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\FF_Presets.accdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <FF_v3.My.MySettings>
      <setting name="UserName" serializeAs="String">
        <value>socalinspections@yahoo.com</value>
      </setting>
      <setting name="PassWord" serializeAs="String">
        <value>1954Chevy$</value>
      </setting>
    </FF_v3.My.MySettings>
  </userSettings>
</configuration>